<section>
    <form [formGroup]="editPatientForm" (ngSubmit)="OnSubmit()">
        <legend class="text-center text-bold my-3">Edit patient</legend>
        <div class="mb-3">
            <input type="text" class="form-control" formControlName="id" readonly>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-md-6">
                <input type="text" class="form-control" formControlName="name" placeholder="Name">
                <div *ngIf="editPatientForm.get('name')?.touched && editPatientForm.get('name')?.invalid" class="text-danger">
                    <small *ngIf="editPatientForm.get('name')?.errors?.['required']">Name is required</small>
                    <small *ngIf="editPatientForm.get('name')?.errors?.['maxlength']">Name must be between 6 ~ 60 characters Long</small>
                    <small *ngIf="editPatientForm.get('name')?.errors?.['minlength']">Name must be between 6 ~ 60 characters Long</small>
                    <small *ngIf="editPatientForm.get('name')?.errors?.['pattern']">Name must be characters only</small>
                </div>
            </div>
            <div class="col-12 col-md-6 ">
                <select class="form-select" formControlName="gender" aria-label="Default select example">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <div *ngIf="editPatientForm.get('birthDate')?.touched && editPatientForm.get('birthDate')?.invalid" class="text-danger">
                    <small *ngIf="editPatientForm.get('birthDate')?.errors?.['required']">birth date is required</small>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <input type="date" class="form-control" formControlName="birthDate" id="date" placeholder="DOB">
        </div>
        
        <div class="mb-3">
            <input type="text" class="form-control" formControlName="phone" id="phone" placeholder="Phone number">
            <div *ngIf="editPatientForm.get('phone')?.touched && editPatientForm.get('phone')?.invalid" class="text-danger">
                <small *ngIf="editPatientForm.get('phone')?.errors?.['required']">phone is required</small>
                <small *ngIf="editPatientForm.get('phone')?.errors?.['pattern']">phone must be characters only</small>
                <small *ngIf="editPatientForm.get('phone')?.errors?.['pattern']">phone must be 11 characters</small>
            </div>
        </div>

        <div class="submit-btn">
            <button class="mainBtn" [disabled]="this.editPatientForm.invalid" type="submit">Submit</button>
        </div>

    </form>
</section>