

.sidenav-container {
    height: 100vh;
    /* background-image: url('/assets/hospital.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
  }
  

.router-link-active{
  color: var(--primary-color);
}

a{
  font-weight: 900;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  /* height: var(--mat-toolbar-standard-height, 64px); */
}

header{
  color: black;
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.2);
}

.main-content{

}