<Header>
    <div class="title">
        <h2  class="text-center  display-5 fw-bold">Patients</h2>
        <span class="line"></span>
    </div>
</Header>
<div class="d-flex justify-content-center">
    <div class="mx-5">
        <button [routerLink]="['/patient/create-Patient']" routerLinkActive="router-link-active"  class="icon-text-column">
            <mat-icon>add</mat-icon>
            <span>Create Patient</span>
        </button>
    </div>
    <div class="mx-5">
        <button class="mainBtn" [routerLink]="['/patient/search-Patient']" routerLinkActive="router-link-active" class="icon-text-column">
            <mat-icon>search</mat-icon>
            <span>Search a patient</span>
        </button>
    </div>
</div>

<main>
    <router-outlet></router-outlet>
</main>