<Header>
    <div class="title">
        <h2  class="text-center  display-5 fw-bold">Departments</h2>
        <span class="line"></span>
    </div>
</Header>

<section>
    <form class="d-flex text-center" role="search">
        <input class="form-control me-2 w-100 w-md-50 "
        name="search"
        [(ngModel)]="searchText" 
        (ngModelChange)="onSearchChange($event)"
        type="search" 
        placeholder="search by department name..." 
        aria-label="Search"/>
      </form>
      <div class="search-results">
        <div class="container">
              <table *ngIf="this.department" class="table table-striped text-center">
                  <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">arabic name</th>
                          
                        </tr>
                  </thead>
                  <tbody>   
                          <tr>
                              <td>{{this.department.name}}</td>
                              <td>{{this.department.ar_Name}}</td>
                              <td><a class="btn btn-info" (click)="goToDetails(department.id)"> Edit </a></td>
                              <td><a class="btn btn-info"> Details </a></td>
                              <td><a class="btn btn-info" (click)="goToAddDoctor(department.id)"> Add doctor </a></td>
                          </tr>
                    </tbody>
                  </table>
          </div>
      </div>
</section>