    <Header>
        <div class="title">
            <h2  class="text-center  display-5 fw-bold">Book Appointment</h2>
            <span class="line"></span>
        </div>
    </Header>
    <form [formGroup]="appointmentForm" (ngSubmit)="OnSubmit()">
        <!-- <legend class="text-center text-bold my-3">Book an appointment</legend> -->
        <span>Note : Available Appointments :</span> 
        <h6 class="fw-lighter text-success text-decoration-underline"> <br> 
        <small *ngIf="doctor">
            @for( ch of doctor.doctorProfile.consultationHours ; track ch.id; let last = $last){
            {{ ch.dayOfWeek }} ({{ ch.startTime }} to {{ ch.endTime }})<span *ngIf="!last">, </span> <br>
            }
        </small>
        </h6>
        <div class="row mb-3">
            <div class="mb-3 col-md-6">
                <label for="doctorName" class="form-label">Doctor</label>
                <input type="text" id="doctorName" class="form-control" [value]="doctorName" disabled>
            </div>
            <div class="mb-3 col-md-6">
                <label for="speciality" class="form-label">Speciality</label>
                <input type="text" id="speciality" class="form-control" [value]="speciality" disabled>
            </div>
        </div>
        <div class="mb-3">
            <label for="patientName" class="form-label">Patient</label>
            <input type="text" id="patientName" class="form-control" [value]="patientName" disabled>
        </div>
        <div class="mb-3">
            <label for="cost" class="form-label">Cost in EGP</label>
            <input type="text" id="cost" class="form-control" [value]="this.appCost" disabled>
        </div>
        <div class="mb-3">
            <small class="fw-lighter text-secondary text-decoration-underline mb-5">please pick a corresponding date to the days available mentioned at the top</small>
            <div class="mb-3">
                <input type="date" class="form-control" formControlName="date" id="date" placeholder="appointment date">
            </div>
          </div>
        <div class="mb-3">
            <!-- Start Time -->
            <label>Start Time:</label>
            <timepicker [minuteStep]="30" formControlName="startTime" [showMeridian]="false"></timepicker>

            <!-- End Time -->
            <label>End Time:</label>
            <timepicker formControlName="endTime"
             [showMeridian]="false"></timepicker>

        </div>


        <!-- for submitting the form  -->
        <input type="hidden" formControlName="doctorId">
        <input type="hidden" formControlName="patientId">
        <input type="hidden" formControlName="speciality">
        <input type="hidden" formControlName="cost">
        <!-- <div>
            <h3>Pay for Appointment</h3>
            <div #cardElement id="card-element"></div>
            <button (click)="pay()">Pay</button>
          </div> -->
        <div class="submit-btn">
            <button class="btn btn-primary" (click)="Checkout()" type="submit">Checkout</button>
        </div>

    </form>