
    <form [formGroup]="appointmentForm">
        <legend class="text-center text-bold my-3">Book an appointment</legend>
        <span class="note-title">Note : Available Appointments :</span>
        <div class="appointments-list" *ngIf="doctor">
        <div class="appointment-item">
            @for( ch of doctor.doctorProfile.consultationHours ; track $index; let last = $last ; let i = $index){
            <span class="day" [style.color]="colors[i]">{{ ch.dayOfWeek }}  </span>
            <span class="time">({{ ch.startTime }} to {{ ch.endTime }})</span> <span *ngIf="!last">, </span> <br>
            }
        </div>
        </div>
        <div class="row mb-3 " >
            <div class="mb-3 col-md-6">
                <label for="doctorName" class="form-label">Doctor</label>
                <input type="text" id="doctorName" class="form-control" [value]="doctorName" disabled>
            </div>
            <div class="mb-3 col-md-6">
                <label for="speciality" class="form-label">Speciality</label>
                <input type="text" id="speciality" class="form-control" [value]="speciality" disabled>
            </div>
        </div>
        <div class="mb-3">
            <label for="patientName" class="form-label">Patient</label>
            <input type="text" id="patientName" class="form-control" [value]="patientName" disabled>
        </div>
        <div class="mb-3">
            <label for="cost" class="form-label">Cost in EGP</label>
            <input type="text" id="cost" class="form-control" [value]="this.appCost" disabled>
        </div>
        <div class="mb-3">
            <div class="mb-3">
                <label for="appDate" class="form-label me-2">Appointment Date</label>
                <small class="text-secondary text-decoration-underline fst-italic fw-semibold mb-5">please pick a corresponding date to the days available mentioned at the top</small>
                <input type="date" class="form-control" formControlName="date" id="appDate">
            </div>
            <div *ngIf="appointmentForm.get('date')?.touched && appointmentForm.get('date')?.invalid" class="text-danger">
                <small *ngIf="appointmentForm.get('date')?.errors?.['required']">Appointment date is required</small>
            </div>
        </div>

        <!-- Start Time -->
        <div class="mb-3">
            <div>
                <label>Start Time:</label>
                <timepicker [minuteStep]="30" formControlName="startTime" [showMeridian]="false"></timepicker>
            </div>
            <div *ngIf="appointmentForm.get('startTime')?.touched && appointmentForm.get('startTime')?.invalid" class="text-danger">
                <small *ngIf="appointmentForm.get('startTime')?.errors?.['required']">Appointment time is required</small>
            </div>
        </div>

            
        <!-- End Time -->
        <label>End Time:</label>
        <timepicker formControlName="endTime"
         [showMeridian]="false"></timepicker>


        <!-- for submitting the form  -->
        <input type="hidden" formControlName="doctorId">
        <input type="hidden" formControlName="patientId">
        <input type="hidden" formControlName="speciality">
        <input type="hidden" formControlName="cost">
        <div class="submit-btn">
            <button class="btn btn-primary" (click)="Checkout()" type="submit">Checkout</button>
        </div>

    </form>