/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0;
     padding: 0; 
     box-sizing: border-box;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 /* colors */
 :root{
    --primary-color: #1e1efc;
    --secondary-color: #00003f;
    --font-color:#000000;
    --shadow-effect:box-shadow: 0 4px 8px 5px #D6D5D5;
    transition: all 0.3s ease; 
 }



 button.btn {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    background-color: var(--primary-color);
    border: none;
    transition: background-color 0.3s, transform 0.2s;
    color: white;
  }
  
  button.btn:hover {
    background-color: var(--secondary-color);
    transform: translateY(-2px);
    color: white;

  }
  
  button.btn:active {
    transform: scale(0.98);
  }
  
 
.line{
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 15px auto 50px auto;
}

/* .mainBtn{
    --stop:20%;
    border-radius: 10px;
    padding: 10px;
     background: #303f52;
     background: radial-gradient(circle, rgb(59, 77, 99) var(--stop), var(--secondary-color) 100%); 
    margin: 0 auto;
    transition: all .4s ease;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    color: white;
} */

.btn:disabled {
    background-color: #ccc;  
    cursor: not-allowed;    
    opacity: 0.7;            
  }


  /* form common style  */
  form {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 1px 5px 60px rgb(189, 186, 186);
    color: var(--font-color);
  }
  
  legend {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 1rem;
  }
  
  label {
    font-weight: 600;
    color: var(--secondary-color);
    margin-bottom: 0.3rem;
    display: inline-block;
  }
  
  input.form-control,
  timepicker {
    border-radius: 8px;
    padding: 0.6rem;
    font-size: 0.95rem;
    border: 1px solid #ddd;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  input.form-control:focus ,.form-select:focus{
    /* border-color: var(--primary-color); */
    box-shadow: 0 0 10px 1px var(--primary-color) !important; 
    /* box-shadow: none; */
  }

  .form-select:focus {
    box-shadow: none;
  }
  small {
    font-size: 0.85rem;
  }
  
  .submit-btn {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }
  