<Header>
    <div class="title">
        <h2 class="text-center  display-5 fw-bold">Doctors</h2>
        <span class="line"></span>
    </div>
</Header>

<div class="m-5">
    <button [routerLink]="['/addDoctor']" routerLinkActive="router-link-active"  class="icon-text-column">
        <mat-icon>add</mat-icon>
        <span>Register Doctor</span>
    </button>
</div>
<div class="container">
    <div class="row g-3">
      @for (doc of doctors; track doc.id) {
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-auto text-center">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{ doc.name }}</h5>
              <h6 class="card-subtitle mb-2 text-body-tertiary  ">{{ doc.speciality }}</h6>
              <h6 class="card-subtitle mb-2  ">{{ doc.cost | currency:'EGP' : 'symbol'}}</h6>

              <h6 class="card-text">
                <h6 class="text-success">available on:</h6>
                @for (ch of doc.consultationHours; track ch.id; let last = $last) {
                  {{ ch.dayOfWeek }} ({{ ch.startTime }} - {{ ch.endTime }})<span *ngIf="!last">, </span>
                }
              </h6>
  
              <div class="mt-auto">
                <button class="btn btn-sm mainBtn me-2" (click)="goToAppointment(doc.id)">Appointment →</button>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
  