
<section>
    <form [formGroup]="addDoctorForm" (ngSubmit)="OnSubmit()">
        <legend class="text-center">Add Doctor Profile</legend>
        <div class="row">
            <div class="col-12 col-md-6">
                <select class="form-select" formControlName="departmentID" aria-label="Default select example">
                    <option value=""selected disabled>select department</option>
                    @for(dept of departments ; track dept.id){
                    <option [value]="dept.id">{{dept.ar_Name}}</option>
                    }
                </select>
                <div *ngIf="addDoctorForm.get('departmentID')?.touched && addDoctorForm.get('departmentID')?.invalid"
                    class="text-danger">
                    <small *ngIf="addDoctorForm.get('departmentID')?.errors?.['required']">department is
                        required</small>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <select class="form-select" formControlName="userId" aria-label="Default select example">
                    <option value=""selected disabled>select user</option>
                    @for(d of doctorsWithoutProfiles ; track d.id){
                    <option [value]="d.id">{{d.userName}}</option>
                    }
                </select>
                <div *ngIf="addDoctorForm.get('userId')?.touched && addDoctorForm.get('userId')?.invalid"
                    class="text-danger">
                    <small *ngIf="addDoctorForm.get('userId')?.errors?.['required']">user is required</small>
                </div>
            </div>
        </div>
        <div class="my-3">
            <input type="number" class="form-control" formControlName="cost" id="cost" placeholder="cost">
            <div *ngIf="addDoctorForm.get('cost')?.touched && addDoctorForm.get('cost')?.invalid"
                class="text-danger">
                <small *ngIf="addDoctorForm.get('cost')?.errors?.['required']">user is required</small>
                <small *ngIf="addDoctorForm.get('cost')?.errors?.['min']">Cost must be at least 200.</small>
                <small *ngIf="addDoctorForm.get('cost')?.errors?.['max']">Cost cannot exceed 1500.</small>
            </div>
        </div>
        <!-- Consultation Hours -->
        <div formArrayName="consultationHourDTOs">
            <div *ngFor="let group of consultationHourDTOs.controls; let i = index" [formGroupName]="i">

                <label>Day of Week</label>
                  <select class="form-select" formControlName="dayOfWeek" aria-label="Default select example">
                      <option value="" disabled selected>select a day</option>
                    @for(day of daysOfWeek ; track day){
                    <option [value]="day">{{day}}</option>
                    }
                </select>
                <!-- Start Time -->
                <label>Start Time:</label>
                <timepicker [minuteStep]="30" formControlName="startTime" [showMeridian]="false"></timepicker>

                <!-- End Time -->
                <label>End Time:</label>
                <timepicker formControlName="endTime" [showMeridian]="false"></timepicker>
                <div class="text-center">
                    
                    <button class="mb-2 remove" type="button" (click)="removeConsultationHour(i)"
                    *ngIf="consultationHourDTOs.length > 1">- remove</button>
                </div>
            </div>
        </div>

        <button class="btn" type="button" (click)="addConsultationHour()">+ Consultation Hour</button>
        <div class="submit-btn">
            <button class="btn" [disabled]="this.addDoctorForm.invalid" type="submit">Submit</button>
        </div>

    </form>
</section>