
<Header>
  <div class="title">
      <h2  class="text-center  display-5 fw-bold">Doctor's Appointments</h2>
      <span class="line"></span>
  </div>
</Header>
<div class="appointments-container">  

  <label for="viewSelect" class="mx-2">select date :</label>
  <select id="viewSelect" class="form-select w-25" [(ngModel)]="selectedDate" (change)="updateApps(selectedDate)">
    @for(date of allDates ; track $index){
      <option [value]="date">{{date}}</option>
    }
  </select>

    @for(app of appointments ; track app.id){
    <div class="appointment-card" >
      <div class="appointment-header">
        <span class="appointment-date">{{app.date}}</span>
        <span class="appointment-time">{{app.startTime}}</span> 
      </div>
      <div class="appointment-body">
        <p><strong>Doctor:</strong> {{app.doctorName}}</p>
        <p><strong>Patient:</strong> {{app.patientName}}</p>
      </div>
      <p class="appointment-status">
        <strong>Status: </strong> 
        <span class="fw-semibold text-decoration-underline"
        [class.text-primary]="app.status === 'Scheduled'" 
        [class.text-danger]="app.status === 'Cancelled'" 
        [class.text-success]="app.status === 'Completed'">
          {{ app.status }}
        </span>
      </p>

      <div class="appointment-actions">
        <button (click)="modifyAppStatus(app.id , 'Completed')" class="btn me-3" >Mark as Completed</button>
        <button (click)="modifyAppStatus(app.id , 'Cancelled')" class="btn" >Mark as Cancelled</button>
      </div>
    </div>
}
@empty{
  <h2 class="my-3">There are no appointments on that day</h2>
}
</div>
  