<div class="patient-container">
    <!-- Patient Info -->
    <div class="patient-header">
      <h2>{{ patient.name }}</h2>
      <p><strong>DOB:</strong> {{ patient.birthDate | date:'mediumDate' }}</p>
      <p><strong>Gender:</strong> {{ patient.gender }}</p>
      <p><strong>Phone:</strong> {{ patient.phone }}</p>
      <p><strong>Created On:</strong> {{ patient.createdOn | date:'mediumDate' }}</p>
    </div>
  
    <!-- Invoices Section -->
    <div class="invoices-section">
      <h3>Invoices</h3>
  

      @for(invoice of patient.invoices ; track invoice.id){
        <div class="invoice-card" >
          <div class="invoice-header">
            <h4>Invoice #{{ invoice.id }}</h4>
            <span class="status" [ngClass]="invoice.status.toLowerCase()">
              {{ invoice.status }}
            </span>
          </div>
    
          <div class="invoice-details">
            <p><strong>Doctor:</strong> {{ invoice.doctorName || 'N/A' }}</p>
            <p><strong>Speciality:</strong> {{ invoice.speciality }}</p>
            <p><strong>Amount:</strong> {{ invoice.amount | number:'1.2-2' }} EGP</p>
            <p><strong>Created At:</strong> {{ invoice.createdAt | date:'mediumDate' }}</p>
          </div>
    
          <!-- Payments -->
          <div class="payments">
            <h5>Payments</h5>
            @for(p of invoice.payments ; track p.id){
              <div class="payment">
                <p><strong>ID:</strong> {{ p.id }}</p>
                <p><strong>Amount:</strong> {{ p.amount | number:'1.2-2' }} EGP</p>
                <p><strong>Status:</strong> {{ p.status }}</p>
                <p><strong>Date:</strong> {{ p.createdAt | date:'long' }}</p>
              </div>
            }
            </div>
        </div>
      }
      @empty{
        <div class="text-center">
          there are no invoices yet for that patient 
        </div>
      }
      <!-- *ngFor="let invoice of patient.invoices" -->
    
    </div>
  </div>
  